<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" th:href="@{/loginPage/login.css}">
</head>
<header>
   <img th:src="@{/homePage/flag.png}" id="logo">
   <div class = "nav">

     <a th:href="@{/}">
       <button id="active"><b>Home</b></button>
     </a>

     <div class="dropdown">
       <a th:href="@{/lunch}">
         <button class="dropbtn"><b>Menu</b></button>
         <div class="dropdown-menu">
           <a th:href="@{/lunch}"><b>Lunch</b></a>
           <hr>
           <a th:href="@{/dinner}"><b>Dinner</b></a>
         </div>
       </a>
     </div>

     <a th:href="@{/login}">
       <button ><b>Login</b></button>
     </a>

     <a th:href="@{/signup}">
         <button ><b>Register</b></button>
     </a>

   </div>
 </header>

<body>
   <div class="loginpage">
      <form class="form" action="#" th:action="@{/login}" th:object="${loginPatron}" method="post">
         <table>
            <tr>
               <th>
                  <label>Username: </label>
               </th>
               <th>
                  <input type="text" placeholder="Enter Username or E-mail" th:field="*{username}" />
               </th>
            </tr>
            <tr>
               <th><label>Password: </label></th>
               <th><input type="password" placeholder="Enter Password" th:field="*{password}" /></th>
            </tr>
         </table>
         <button type="submit">Login</button>
         <br>
         <div th:if="${success == false}">
            <p style="color: red"> Login Unsuccessful, please try again</p>
         </div>
         <br>
         <a th:href="@{/signup}">
         <p>Register?</p> <p>Forgot Password?</p></a>

      </form>
   </div>
</body>

</html>