<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lunch Menu</title>
    <link rel="stylesheet" th:href="@{/menuPage/menu.css}" />
  </head>
  <header>
    <a th:href="@{/}">
      <button>Home</button>
    </a>
  </header>
  <body>
    <div class="whitePage">
      <div class="wrapper">
        <div class="title">
          <h4>Lunch Menu</h4>
          <h3>Available 12pm to 4pm</h3>
        </div>
        <div>
          <table>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Description</th>
            </tr>
            <tr th:each="item : ${Items}">
              <td th:text="${item.name}"></td>
              <td th:text="${item.price}"></td>
              <td th:text="${item.description}"></td>
          </tr>
          </table>
        </div>
        <div class="menu">
          <div class="item">
            <div>
              <h4><span></span> <span>$18</span></h4>
              <p>
                item description, ingredients, sample text etc fein oaeg malike
                kemie emwodn gef kasignve andg egheurge nheyme
              </p>
            </div>
          </div>
          <div class="item">
            <div>
              <h4>Chicken Parmesan <span>$15</span></h4>
              <p>
                item description, ingredients, sample text etc fein oaeg malike
                kemie emwodn gef kasignve andg egheurge nheyme
              </p>
            </div>
          </div>
          <div class="item">
            <div>
              <h4>Olive Pizza with Olive Oil <span>$42</span></h4>
              <p>
                item description, ingredients, sample text etc fein oaeg malike
                kemie emwodn gef kasignve andg egheurge nheyme
              </p>
            </div>
          </div>
          <div class="item">
            <div>
              <h4>Uncle Steve's shoddy Boomerang <span>$2</span></h4>
              <p>
                item description, ingredients, sample text etc fein oaeg malike
                kemie emwodn gef kasignve andg egheurge nheyme
              </p>
            </div>
          </div>
          <div class="item">
            <div>
              <h4>1990 Apple Macintosh Classic <span>$50</span></h4>
              <p>
                item description, ingredients, sample text etc fein oaeg malike
                kemie emwodn gef kasignve andg egheurge nheyme
              </p>
            </div>
          </div>
          <div class="item">
            <div>
              <h4>Putin's alluring Nuke codes <span>$300</span></h4>
              <p>
                item description, ingredients, sample text etc fein oaeg malike
                kemie emwodn gef kasignve andg egheurge nheyme
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
