<!DOCTYPE html>
<!-- Don't delete xmlns:th="https://www.thymeleaf.org" -->
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="@{/loginPage/login.css}" />
    <!-- <script>
      //   checks if passwords are matching
      function checkPassword(form) {
        psw1 = form.psw1.value;
        psw2 = form.psw2.value;

        if (psw1 != psw2) {
          alert("\nPasswords do not match");
          return false;
        } else {
          return true;
        }
      }
    </script> -->
  </head>

  <header>
    <a th:href="@{/}">
      <button>
        <b>Home</b>
      </button>
    </a>
  </header>

  <body>
    <div class="loginpage">
      <h2>New to our restaurant?</h2>
      <p class="para">
        Sign up for exclusive rewards and discounts the next time you reserve a
        table using our website!
      </p>
      <div class="form">
        <form
          class="form"
          action="#"
          th:action="@{/process_signup}"
          th:object="${signupCustomer}"
          method="post"
        >
          <table>
            <tr>
              <th>
                <label>Email: </label>
              </th>
              <td>
                <input type="email" th:field="*{email}" />
                placeholder="Enter your E-mail" required/>
              </td>
            </tr>
            <tr>
              <th>
                <label>First Name: </label>
              </th>
              <td>
                <input type="text" th:field="*{first_name}" required />
              </td>
            </tr>
            <tr>
              <th>
                <label>Last Name: </label>
              </th>
              <td>
                <input type="text" th:field="*{last_name}" required />
              </td>
            </tr>
            <tr>
              <th>
                <label>Username: </label>
              </th>
              <td>
                <input
                  type="text"
                  placeholder="Enter a preferred username"
                  th:field="*{username}"
                  required
                />
              </td>
            </tr>
            <tr>
              <th>
                <label>Phone number: </label>
              </th>
              <td>
                <input
                  type="text"
                  pattern="[0-9]{10}"
                  placeholder="Enter Australian telephone"
                  th:field="*{telephone}"
                  required
                />
              </td>
            </tr>
            <tr>
              <th><label>Password: </label></th>
              <td>
                <input
                  type="password"
                  name="psw1"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Must contain at least one uppercase letter, one number, and at least 8 or more characters"
                  placeholder="Enter a password"
                  required
                />
              </td>
            </tr>
            <tr>
              <th><label>Confirm Password: </label></th>
              <td>
                <input
                  type="password"
                  name="psw2"
                  placeholder="Re-enter password"
                  th:field="*{password}"
                  required
                />
              </td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Submit</button></td>
            </tr>
          </table>
        </form>
        <p>Already a member? <a href="@{/login}">Login here</a></p>
      </div>
    </div>
  </body>
</html>
