<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/customerPortal/cusPortal.css}" />
    <title>Customer Portal</title>
</head>

<body>z
    <div class="col1">
        <div class="whitePage">
            <h1>Welcome, </h1>
            <div id="name">
                <span th:text="${customer.firstName + ' ' + customer.lastName}"></span>
            </div>
            
            <span><b>Address: </b></span><span th:text="${customer.address}"></span><br/>
        </div>
        <div class="whitePage">
            <div class="func">
                <form action="#" th:action="@{/booking/new}">
                    <button type="submit">Book a table</button>
                </form>
                <form action="#">
                    <button type="submit">Function A</button>
                </form>
                <form action="#">
                    <button type="submit">Function B</button>
                </form>
                <form action="#" th:action="@{/viewRewards}">
                    <button type="submit">View Rewards</button>
                </form>
                <form action="#" th:action="@{/}">
                    <button type="submit" id="red">Log Out</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col2">
        <div class="whitePage" id="book"> 
            <h1> Bookings </h1>
            <table> 
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Booking Time</th>
                        <th>Booking Date</th>
                        <th>Table</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${customer.bookings}">
                        <td th:text=${booking.id}></td>
                        <td th:text=${booking.bookingTime}></td>
                        <td th:text=${booking.bookingDate}></td>
                        <td th:text=${booking.tablePosition}></td>
                        <td><a th:href="@{/booking/{bookingID}(bookingID=${booking.id})}">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col3">
        <div class="whitePage">
            <h1>Expiring Reward </h1>
            <p><b>Name: </b><span th:text=${expreward.rewardName}></span></p>
            <p><b>Discount: </b><span th:text=${expreward.discount}></span>%</p>
            <p><b>Expiry Date: </b><span th:text=${expreward.expiryDate}></span></p>
            
            
            <h1>Total Reward Points: </h1>
            <p id="rp"><span th:text=${customer.points}></span></p>
            <p style="color: grey;">Note: you can only have a maximum of 250 points at any given time</p>
        </div>
    </div>
</body>