<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Lunch</title>
    <link rel="stylesheet" th:href="@{/menuPage/menu.css}" />
  </head>
  <body>
    <div class="whitePage">
      <div class="wrapper">
        <div class="title">
          <h4>Lunch Menu</h4>
          <h3>Available 12pm to 4pm</h3>
        </div>
        <div class="menuWrapper">
          <form >
            <table th:each="item : ${Items}" class = "menu">
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <div class = "item">
                <tr >
                  <td th:text="${item.name}" class = "dish" id = "name"></td>
                  <td th:text="${item.price}" class = "dish" id = "price"></td>
                  <td>
                    <input type="number" max = "5" min = "0" value = "0" id = "quantity" th:field= *{quantity}>
                  </td>
                </tr>
                <tr>
                <td th:text="${item.description}" class="desc"></td>
                </tr>
              </div>
            </table>
          </form>
          
          <a th:href="@{/booking/new}"><button class="orderBtn" id="cancel">CANCEL</button></a>
        </div>
        </div>
      </div>
  </body>
</html>