body{
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(backgroung.jpg);
   height: 100vh;
   
   background-position: center;

}
header{
   text-align: right;
   
}
label{
   font-size: 20px;
}
button{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #73a875;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: auto;
   text-align: center;
   font-size: 16px;
}
.loginpage{
   width: 450px;
   margin: 10px auto;
   background: rgb(102, 95, 95) rgba(107, 99, 99, 0.6);
   text-align: center;

}
.form{
   font-family:"Roboto",sans-serif;
   color: rgb(0, 0, 0);
   font-size: 16px;

   background:rgba(255, 255, 255, 0.7);
   position: relative;
   z-index: 1;
   max-width: 100%;
   text-align: center;
   table-layout: auto;
   margin: 0 auto 100px;
   padding: 45px;
   border-radius: 20px;

}
.form input{
   font-family: "Roboto",sans-serif;
   outline: 1;
   background: rgb(179, 164, 164);
   width: 100%;
   border: 2px;
   border-radius: 5px;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 16px;
}
button:hover{
   opacity: 0.8;
}

#signuppage{
   width: 800px;
}

#sign input{
   width: 400px;
}