<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Staff Portal</title>
   <link rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
   <link rel="stylesheet" href="Staff.css">


</head>

<body>
   <div class="sidebar">
      <div class="sidebar-brand">
         <h2><span class="las la-concierge-bell"></span>LE BISTROT D'ANDRE</h2>

      </div>
      <div class="sidebar-menu">
         <ul>
            <li>
               <a href="StaffPortal.html" class="active"><span class="las la-bars"> </span> <span> Dashboard </span></a>
            </li>
            <li>
               <a href="staffRestaurant.html"><span class="las la-utensils"></span> <span></span>Restaurant</span></a>
            </li>
            <li>
               <a href=""><span class="las la-angle-double-left"></span> <span> Logout</span></a>
            </li>

         </ul>
      </div>
   </div>
   <div class="main-content">
      <header>
         <h2>
            <label for="">
               <span class="las la-bars"></span>
            </label>
            Dashboard
         </h2>
         <div class="userwrapper">
            <img src="male.jpg" width="50px" height="50px" alt="">
            <div>
               <h4>Finn Tearle</h4>
               <small>Staff Member</small>
            </div>
         </div>
      </header>

      <main>
         <div class="recentflex">
            <div class="customers">
               <div class="card-header">
                  <img src="male.jpg" height="300px" width="300px">
                  <ul>
                     <li>
                        <h1>Finn Tearle</h1>
                     </li>
                     <li>
                        <h3>30 Jones Road</h3>
                     </li>
                     <li>
                        <h3>WOOLLOONGABBA QLD 4102</h3>
                     </li>
                     <li>Phone:
                        (07) 3382 3886</li>
                     <li>Date Of Birth: 
                        November 12, 1976</li>
                        <li>
                           Email Address: FinnTearle@armyspy.com
                        </li>
                  </ul>


               </div>
               <div class="gap">""</div>
               <div class="recentflex">
                  <div class="customers">
                     <div class="card-header">
                        <h2>Recent Bookings</h2>
                        <button>See all <span class="las la-arrow right"></span></button>
                     </div>
                     <div class="card-body">
                        <table width=100%>
                           <th>Booking ID</th>
                           <th>Booking Time</th>
                           <th>Booking Date</th>
                           <th>Table</th>
                           <th>Customer ID</th>
                           <th>Reciept</th>
                           <tbody>
                              <tr th:each="booking, Index : ${bookings}">
                                 <td th:text=${booking.id} style="text-align:center"></td>
                                 <td th:text=${booking.bookingTime} style="text-align:center"></td>
                                 <td th:text=${booking.bookingDate} style="text-align:center"></td>
                                 <td th:text=${booking.tablePosition} style="text-align:center"></td>
                                 <td th:text=${names[Index.index]} style="text-align:center"></td>
                                 <td style="text-align:center"><a th:href="@{/showreciept/{BookingID}(BookingID=${booking.id})}">View</a></td>
                              </tr>
                           </tbody>
                        </table>
      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>

   </div>
</body>

</html>