@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{

      --main-colour: #145db1;
      --color-dark: #1d2231;
      --text-grey: #8390a2;


}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type:none ;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
}

.sidebar{
   width: 340px;
   position: fixed;
   height: 100%;
   background: var(--main-colour);
}
.sidebar-brand{
   height: 90px;
   padding: 1rem 0rem 1rem 2rem ;
   color: #fff;
}

.sidebar-brand span{
   display: inline-block;
   padding-right: 1rem ;
}

.sidebar-menu li{
   width: 100%;
   margin-bottom: 1.6rem;
   padding-left:1.1rem;
}

.sidebar-menu a {
   padding-left : 1rem ;
   display: block;
   color: #fff;
   font-size: 1.5rem;
}
.sidebar-menu a span:first-child{
   font-size: 1.5rem;
   padding-right: 1rem;
}

.sidebar-menu a.active{
   background: #fff;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: (var(--main-colour));
   border-radius: 30px 0px 0px 30px;
}
.main-content{
   margin-left: 340px;
}

.header{
   display: flex;
   justify-content: space-between;
   padding: 1rem;

}
.user-wrapper{
   display: flex;
   align-items: center;

}
.user-wrapper img {
   border-radius: 50%;
   margin-right: 1rem;
}
.user-wrapper small{ 
   display: inline-block;
   color: var(--text-grey);
}