<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Manager Portal</title>
   <link rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
   <link rel="stylesheet" href="/managerPage/profilePage.css">


</head>

<body>
   <div class="sidebar">
      <div class="sidebar-brand">
         <h2><span class="las la-concierge-bell"></span>LE BISTROT D'ANDRE</h2>

      </div>
      <div class="sidebar-menu">
         <ul>
            <li>
               <a th:href="@{/manager}"><span class="las la-bars"> </span> <span> Dashboard  </span></a>
            </li>
            <li>
               <a href=""><span class="las la-utensils"></span> <span></span>Restaurant</span></a>
            </li>
            <li>
               <a th:href="@{/staffmanager}" class="active"><span class="las la-address-book"></span> <span></span>Staff</span></a>
            </li>
            <li>
               <a th:href="@{/menumanager}"><span class="las la-list"></span> <span></span>Menu</span></a>
            </li>
         </ul>
      </div>
   </div>
   <div class="main-content">
      <header>
         <h2>
            <label for="">
               <span class="las la-bars"></span>
            </label>
            Dashboard
         </h2>
         <div class="userwrapper">
            <img src="/managerPage/male.jpg" width="50px" height="50px" alt="">
            <div>
               <h4>John Doe</h4>
               <small>Store Manager</small>
            </div>
         </div>
      </header>

      <main>
         <div class="recentflex">
            <div class="customers">
               <div class="card-header">
                  <h2>Add Staff Member</h2>
                  <button>Add Staff <span class="las la-arrow right"></span></button>
               </div>
               <div class="card-body">
                  <table width=100%>
                     <tr>
                        <td>Member Name:</td>
                        <td><input type="text" placeholder="Member Name"></td>
                     </tr>
                     <tr>
                        <td>Member Description:</td>
                        <td><input type="text" placeholder="Member Description"></td>
                     </tr>
                     <tr>
                        <td>Hourly Wage</td>
                        <td><input type="text" placeholder="Hourly Wage" > </td>
                     </tr>
                     <tr>
                        <td>Date Of Birth</td>
                        <td><input type="date" ></td>
                     </tr>
                     <tr>
                        <td>Shift Type:</td>
                        <td>
                           Lunch <input type="checkbox" name="Shift type" id="">
                           Dinner <input type="checkbox" name="Shift type" id="">
                        </td>
                        
                     </tr>
                  </table>
               </div>
               <div class="gap">""</div>

               <div class="card-header">
                  <h2>Serving Staff</h2>
                  <button>See all <span class="las la-arrow right"></span></button>
               </div>
               <div class="card-body">
                  <table width=100%>
                     <thead>
                        <tr>
                           <td>Cus.NO</td>
                           <td>Name</td>
                           <td>Working Hours</td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>1</td>
                           <td>Jane Smith</td>
                           <td>2</td>
                        </tr>
                        <tr>
                           <td>2</td>
                           <td>Kara Zor-El</td>
                           <td>4</td>
                        </tr>
                        <tr>
                           <td>3</td>
                           <td>Barry Allen</td>
                           <td>6</td>
                        </tr>
                     </tbody>
                  </table>

               </div>
            </div>
         </div>
         

      </main>

   </div>
</body>

</html>