body {
  background-image: url(menuBackground.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.whitePage {
  background-color: white;
  width: 80vw;
  margin: auto;
  margin-bottom: 60px;
  box-shadow: 5px 10px;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

.title h4 {
  text-transform: capitalize;
  font-size: 48px;
  position: relative;
  display: inline-block;
}

.title h3 {
  display: block;
  font-size: 28px;
  font-style: italic;
  margin-top: -30px;
}

.title h4:before {
  position: absolute;
  content: "";
  width: 250px;
  height: 3px;
  background-color: #58af5b;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.item:hover{
  background-color: grey;
}

.menuWrapper{
  padding-bottom: 60px;
}

.menu {
  width: 100%;
}

.dish{
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#name{
  border-bottom: 1px dashed #333;
  width: 100%;
}

#price{
  float: right;
  color: #58af5b;
  font-style: italic;
  margin-right: 50px;
  border
}

.desc{
  opacity: 0.8;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 25px;
}

#quantity{
  float: right;
  width: 30px;
  margin-right: 10px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #73a875;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  text-align: center;
  font-size: 16px;
}

button:hover{
  opacity: 0.8;
}

.orderBtn{
  float: right;
  margin-left: 30px;
}

#cancel{
  background-color: #ED2939;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  text-align: center;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #73a875;
  text-align: center;
  padding: 10px 16px;
  margin-left: 8px;
  margin-top: 70px;
  z-index: 1;
}

.dropdown-menu a {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  width: auto;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.dropdown-menu a:hover {
  opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  width: 100%;
  height: 80px;
}

#logo{
  float: left;
  margin: 25px;;
}

.nav{
  top: 50%;
  height: 80px;

}
.nav button{
  margin-top: 16px;
  float: right;
}

.bar{
  margin-top: 20px;
  display: flex;
}

.barchild{
  font-weight: bold;
  font-size: 18px;
  flex: 1;
  margin: 18px;
}

#confirm{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #73a875;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}

.bbutton{
  float: right;
}
